<h2>Authors!</h2>

<ul>
  <% @authors.each do |author| %>
  <li>
    <strong>
      <%= author.name %>
    </strong>
    first published: <%= author.first_published %>, <%= link_to "(View Details)", author_path(author.id) %>
  </li>
  <% end %>
</ul>
