<h2>All of the Authors!</h2>

<ul>
  <% @authors.each do |author| %>
  <li>
    <strong>
      <%= author.name %>
    </strong>
    first published: <%= author.first_published %>
    <div>
      <%= link_to "View Details", author_path(author.id), class: "btn btn-outline-secondary" %>
    </div>
  </li>
  <% end %>
</ul>
