<div id="books-index">

  <h2>List of Books</h2>

  <ul>
    <% @books.each do |book| %>
    <li class="book-summary">
      <strong>
        <%= book.title %>
      </strong>
      by: <%= book.author %>
      <%= link_to "(View Details)", book_path(book.id) %>
    </li>
    <% end %>

  </ul>

</div>
